    -webkit-text-size-adjust: 100%;
    tab-size: 4;
    font-feature-settings: normal;
    font-variation-settings: normal;
    -webkit-tap-highlight-color: transparent;
    --color-text-primary: #141414;
    --color-text-secondary: #262626;
    --color-text-tertiary: #4E4D4C;
    --color-bg-primary: #F9F6F2;
    --color-bg-secondary: #F4EEE5;
    --color-stroke-buttons: #A1A1A1;
    --color-stroke-cards: #E7E7E7;
    --adyen-sdk-color-background-always-dark: #00a82d;
    --adyen-sdk-color-background-inverse-primary-hover: #00811e;
    --colors-primary-green-opacity15: #00a82d26;
    --colors-primary-green-opacity20: #00a82d33;
    --colors-primary-green-opacity30: #00a82d4c;
    --colors-primary-green-100: #e6f9e9;
    --colors-primary-green-200: #99e3a8;
    --colors-primary-green-300: #4dc869;
    --colors-primary-green-400: #00a82d;
    --colors-primary-green-500: #00811e;
    --colors-primary-green-600: #005611;
    --colors-primary-green-700: #002707;
    --colors-secondary-blue-opacity5: #4d64ff0d;
    --colors-secondary-blue-opacity10: #4d64ff1a;
    --colors-secondary-blue-opacity15: #4d64ff26;
    --colors-secondary-blue-opacity20: #4d64ff33;
    --colors-secondary-blue-opacity30: #4d64ff4c;
    --colors-secondary-blue-opacity50: #4d64ff7a;
    --colors-secondary-blue-100: #ebeeff;
    --colors-secondary-blue-200: #b1bcff;
    --colors-secondary-blue-300: #7c8eff;
    --colors-secondary-blue-300-opacity10: #7c8eff1a;
    --colors-secondary-blue-300-opacity50: #7c8eff7a;
    --colors-secondary-blue-400: #4d64ff;
    --colors-secondary-blue-500: #3245bb;
    --colors-secondary-blue-600: #1c2977;
    --colors-secondary-red-opacity15: #e54e4026;
    --colors-secondary-blue-700: #0a1033;
    --colors-secondary-red-opacity5: rgba(229, 78, 64, 0.05);
    --colors-secondary-red-opacity20: #e54e4033;
    --colors-secondary-red-opacity30: #e54e404c;
    --colors-secondary-red-100: #ffebe9;
    --colors-secondary-red-200: #fbb3ac;
    --colors-secondary-red-300: #f37e74;
    --colors-secondary-red-400: #e54e40;
    --colors-secondary-red-500: #ae3429;
    --colors-secondary-red-600: #731e16;
    --colors-secondary-orange-opacity15: #fcb10026;
    --colors-secondary-red-700: #330c08;
    --colors-secondary-orange-opacity20: #fcb10033;
    --colors-secondary-orange-opacity30: #fcb1004c;
    --colors-secondary-orange-100: #fff9e6;
    --colors-secondary-orange-200: #ffe499;
    --colors-secondary-orange-300: #ffcc4d;
    --colors-secondary-orange-400: #fcb100;
    --colors-secondary-orange-500: #bb8600;
    --colors-secondary-orange-600: #775700;
    --colors-secondary-spritz-opacity15: #ee663126;
    --colors-secondary-spritz-opacity20: #ee663133;
    --colors-secondary-spritz-opacity30: #ee66314c;
    --colors-secondary-spritz-100: #ffefe8;
    --colors-secondary-spritz-200: #ffbfa5;
    --colors-secondary-spritz-300: #fa9168;
    --colors-secondary-spritz-400: #ee6631;
    --colors-secondary-spritz-500: #b6481d;
    --colors-secondary-spritz-600: #772c0e;
    --colors-secondary-spritz-700: #331204;
    --colors-secondary-yellow-opacity15: #ffd91926;
    --colors-secondary-orange-700: #332700;
    --colors-secondary-yellow-opacity20: #ffd91933;
    --colors-secondary-yellow-opacity30: #ffd9194c;
    --colors-secondary-yellow-100: #fff4ba;
    --colors-secondary-yellow-200: #ffea80;
    --colors-secondary-yellow-300: #ffdf3c;
    --colors-secondary-yellow-400: #ffd919;
    --colors-secondary-yellow-500: #bba50a;
    --colors-secondary-yellow-600: #776d01;
    --colors-secondary-yellow-700: #333000;
    --colors-secondary-purple-opacity15: #995bd726;
    --colors-secondary-purple-opacity20: #995bd733;
    --colors-secondary-purple-opacity30: #995bd74c;
    --colors-secondary-purple-100: #f6ecff;
    --colors-secondary-purple-200: #d9b6fd;
    --colors-secondary-purple-300: #bd85f6;
    --colors-secondary-purple-400: #a158eb;
    --colors-secondary-purple-500: #763bb2;
    --colors-secondary-purple-600: #4b2275;
    --colors-secondary-purple-700: #200d33;
    --colors-grey-opacityblack30: #1414144c;
    --colors-grey-opacityblack65: #141414a5;
    --colors-grey-8: #141414;
    --colors-grey-10: #1a1a1a;
    --colors-grey-13: #212121;
    --colors-grey-15: #262626;
    --colors-grey-20: #333333;
    --colors-grey-25: #404040;
    --colors-grey-30: #4d4d4d;
    --colors-grey-40: #666666;
    --colors-grey-45: #737373;
    --colors-grey-50: #7f7f7f;
    --colors-grey-60: #999999;
    --colors-grey-65: #a6a6a6;
    --colors-grey-70: #b2b2b2;
    --colors-grey-80: #cccccc;
    --colors-grey-85: #d9d9d9;
    --colors-grey-90: #e6e6e6;
    --colors-grey-93: #ededed;
    --colors-grey-95: #f2f2f2;
    --colors-grey-97: #f8f8f8;
    --colors-grey-100: #ffffff;
    --colors-grey-opacitywhite65: #ffffffa5;
    --spacing-0: 0;
    --spacing-0-25: 2px;
    --spacing-0-5: 4px;
    --spacing-0-75: 6px;
    --spacing-1: 8px;
    --spacing-1-5: 12px;
    --spacing-2: 16px;
    --spacing-2-5: 20px;
    --spacing-3: 24px;
    --spacing-4: 32px;
    --spacing-5: 40px;
    --spacing-5-5: 44px;
    --spacing-6: 48px;
    --spacing-7: 56px;
    --spacing-7-5: 60px;
    --spacing-8: 64px;
    --spacing-9: 72px;
    --spacing-10: 80px;
    --spacing-11: 88px;
    --spacing-12: 96px;
    --spacing-15: 120px;
    --spacing-20: 160px;
    --spacing-30: 240px;
    --radius-none: 0;
    --radius-xxs: 2px;
    --radius-xs: 4px;
    --radius-s: 6px;
    --radius-sm: 8px;
    --radius-sm-md: 12px;
    --radius-md: 16px;
    --radius-lg: 24px;
    --radius-xl: 48px;
    --colors-brandonly-pink-opacity15: #f5bff026;
    --colors-brandonly-pink-opacity30: #f5bff04c;
    --colors-brandonly-pink-100: #fff8fe;
    --colors-brandonly-pink-200: #fde3fb;
    --colors-brandonly-pink-300: #fad0f6;
    --colors-brandonly-pink-400: #f5bff0;
    --colors-brandonly-pink-500: #b68ab2;
    --colors-brandonly-pink-600: #b68ab2;
    --colors-brandonly-pink-700: #332531;
    --colors-brandonly-vermillion-opacity15: #ff7a0026;
    --colors-brandonly-vermillion-opacity30: #ff7a004c;
    --colors-brandonly-vermillion-100: #fff2e6;
    --colors-brandonly-vermillion-200: #ffc999;
    --colors-brandonly-vermillion-300: #ffa24d;
    --colors-brandonly-vermillion-400: #ff7a00;
    --colors-brandonly-vermillion-500: #bb5900;
    --colors-brandonly-vermillion-600: #773800;
    --colors-brandonly-vermillion-700: #331800;
    --colors-brandonly-lime-opacity15: #96d34726;
    --colors-brandonly-lime-opacity30: #96d3474c;
    --colors-brandonly-lime-100: #f5fdeb;
    --colors-brandonly-lime-200: #d6f3b0;
    --colors-brandonly-lime-300: #b6e579;
    --colors-brandonly-lime-400: #96d347;
    --colors-brandonly-lime-500: #6fa02f;
    --colors-brandonly-lime-600: #47691b;
    --colors-brandonly-lime-700: #1f2e0a;
    --colors-brandonly-indigo-opacity15: #6478ff26;
    --colors-brandonly-indigo-opacity30: #6478ff4c;
    --colors-brandonly-indigo-100: #edf0ff;
    --colors-brandonly-indigo-200: #bbc4ff;
    --colors-brandonly-indigo-300: #8d9dff;
    --colors-brandonly-indigo-400: #6478ff;
    --colors-brandonly-indigo-500: #4454bb;
    --colors-brandonly-indigo-600: #273377;
    --colors-brandonly-eggshell-opacity15: #f9f6f226;
    --colors-brandonly-indigo-700: #0f1533;
    --colors-brandonly-eggshell-opacity30: #f9f6f24c;
    --colors-brandonly-eggshell-100: #f9f6f2;
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-gradient-from-position: ;
    --tw-gradient-via-position: ;
    --tw-gradient-to-position: ;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(59 130 246/0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia: ;
    --tw-contain-size: ;
    --tw-contain-layout: ;
    --tw-contain-paint: ;
    --tw-contain-style: ;
    box-sizing: border-box;
    border: 0 solid;
    margin: 0;
    line-height: inherit;
    --color-action-base-fill-highlights-default: var(--colors-primary-green-400);
    --color-action-base-fill-highlights-disabled: var(--colors-grey-80);
    --color-action-base-fill-highlights-hover: var(--colors-primary-green-500);
    --color-action-base-fill-highlights-focus: var(--colors-primary-green-500);
    --color-action-base-fill-highlights-pressed: var(--colors-primary-green-600);
    --color-action-base-fill-primary-default: var(--colors-secondary-blue-400);
    --color-action-base-fill-primary-disabled: var(--colors-grey-80);
    --color-action-base-fill-primary-hover: var(--colors-secondary-blue-500);
    --color-action-base-fill-primary-focus: var(--colors-secondary-blue-500);
    --color-action-base-fill-primary-pressed: var(--colors-secondary-blue-600);
    --color-action-base-fill-secondary-hover: var(--colors-grey-93);
    --color-action-base-fill-secondary-pressed: var(--colors-grey-85);
    --color-action-base-fill-warning-default: var(--colors-secondary-red-400);
    --color-action-base-fill-warning-disabled: var(--colors-grey-80);
    --color-action-base-fill-warning-hover: var(--colors-secondary-red-500);
    --color-action-base-fill-warning-focus: var(--colors-secondary-red-500);
    --color-action-base-fill-warning-pressed: var(--colors-secondary-red-600);
    --color-action-base-fill-upgrade-default: var(--colors-secondary-orange-400);
    --color-action-base-fill-upgrade-disabled: var(--colors-grey-80);
    --color-action-base-fill-upgrade-hover: var(--colors-secondary-orange-500);
    --color-action-base-fill-upgrade-focus: var(--colors-secondary-orange-500);
    --color-action-base-fill-upgrade-pressed: var(--colors-secondary-orange-600);
    --color-action-base-stroke-highlights-focus: var(--colors-secondary-blue-300);
    --color-action-base-stroke-primary-focus: var(--colors-secondary-blue-300);
    --color-action-base-stroke-secondary-default: var(--colors-grey-60);
    --color-action-base-stroke-secondary-disabled: var(--colors-grey-80);
    --color-action-base-stroke-secondary-hover: var(--colors-grey-40);
    --color-action-base-stroke-secondary-focus: var(--colors-secondary-blue-300);
    --color-action-base-stroke-secondary-pressed: var(--colors-grey-40);
    --color-action-base-stroke-tertiary-focus: var(--colors-secondary-blue-300);
    --color-action-content-fill-highlights-default: var(--colors-grey-100);
    --color-action-content-fill-highlights-disabled: var(--colors-grey-100);
    --color-action-content-fill-highlights-hover: var(--colors-grey-100);
    --color-action-content-fill-highlights-focus: var(--colors-grey-100);
    --color-action-content-fill-highlights-pressed: var(--colors-grey-100);
    --color-action-content-fill-primary-default: var(--colors-grey-100);
    --color-action-content-fill-primary-disabled: var(--colors-grey-100);
    --color-action-content-fill-primary-hover: var(--colors-grey-100);
    --color-action-content-fill-primary-focus: var(--colors-grey-100);
    --color-action-content-fill-primary-pressed: var(--colors-grey-100);
    --color-background-fill-primary: var(--colors-grey-100);
    --color-background-fill-secondary: var(--colors-grey-97);
    --color-background-fill-tertiary: var(--colors-grey-95);
    --color-surface-fill-primary-enabled: var(--colors-grey-100);
    --color-surface-fill-primary-disabled: var(--colors-grey-100);
    --color-surface-fill-primary-hover: var(--colors-grey-95);
    --color-surface-fill-primary-focus: var(--colors-grey-100);
    --color-surface-fill-primary-pressed: var(--colors-grey-100);
    --color-surface-fill-secondary-enabled: var(--colors-grey-97);
    --color-surface-fill-secondary-disabled: var(--colors-grey-97);
    --color-surface-fill-secondary-hover: var(--colors-grey-90);
    --color-surface-fill-secondary-focus: var(--colors-grey-90);
    --color-surface-fill-secondary-pressed: var(--colors-grey-80);
    --color-surface-fill-tertiary-enabled: var(--colors-grey-95);
    --color-surface-fill-tertiary-disabled: var(--colors-grey-95);
    --color-surface-fill-tertiary-hover: var(--colors-grey-85);
    --color-surface-fill-tertiary-focus: var(--colors-grey-85);
    --color-surface-fill-tertiary-pressed: var(--colors-grey-80);
    --color-surface-fill-quaternary-enabled: var(--colors-grey-90);
    --color-surface-fill-quaternary-disabled: var(--colors-grey-90);
    --color-surface-fill-quaternary-hover: var(--colors-grey-85);
    --color-surface-fill-quaternary-focus: var(--colors-grey-85);
    --color-surface-fill-quaternary-pressed: var(--colors-grey-80);
    --color-surface-fill-quaternary-selected: var(--colors-grey-85);
    --color-surface-stroke-primary-enabled: var(--colors-grey-95);
    --color-surface-fill-opacity-enabled: var(--colors-grey-opacitywhite65);
    --color-surface-stroke-primary-disabled: #ffffff;
    --color-surface-fill-brand-enabled: var(--colors-primary-green-400);
    --color-surface-stroke-primary-hover: #ffffff;
    --color-surface-stroke-primary-focus: var(--colors-secondary-blue-300);
    --color-surface-stroke-primary-pressed: #ffffff;
    --color-surface-fill-brand-disabled: #ffffff;
    --color-surface-stroke-secondary-enabled: var(--colors-grey-93);
    --color-surface-fill-brand-hover: #ffffff;
    --color-surface-fill-brand-focus: #ffffff;
    --color-surface-fill-brand-pressed: #ffffff;
    --color-surface-fill-brand-selected: #ffffff;
    --color-surface-stroke-secondary-disabled: var(--colors-grey-93);
    --color-surface-stroke-secondary-hover: var(--colors-grey-85);
    --color-surface-stroke-secondary-focus: var(--colors-grey-80);
    --color-surface-stroke-secondary-pressed: var(--colors-grey-60);
    --color-surface-stroke-tertiary-enabled: var(--colors-grey-85);
    --color-surface-stroke-tertiary-disabled: #ffffff;
    --color-surface-stroke-tertiary-hover: var(--colors-grey-80);
    --color-surface-stroke-tertiary-focus: var(--colors-secondary-blue-300);
    --color-surface-stroke-tertiary-pressed: #ffffff;
    --color-input-base-stroke-default: var(--colors-grey-70);
    --color-input-base-stroke-disabled: var(--colors-grey-70);
    --color-input-base-stroke-active: var(--colors-secondary-blue-400);
    --color-input-base-stroke-typing: var(--colors-secondary-blue-400);
    --color-input-base-stroke-typed: var(--colors-grey-70);
    --color-input-base-stroke-error: var(--colors-secondary-red-400);
    --color-input-base-stroke-approved: var(--colors-primary-green-400);
    --color-input-titletext-fill-default: var(--colors-grey-13);
    --color-input-titletext-fill-disabled: var(--colors-grey-80);
    --color-input-titletext-fill-active: var(--colors-grey-13);
    --color-input-titletext-fill-typing: var(--colors-grey-13);
    --color-input-titletext-fill-typed: var(--colors-grey-13);
    --color-input-titletext-fill-error: var(--colors-grey-13);
    --color-input-titletext-fill-approved: var(--colors-grey-13);
    --color-input-inputtext-fill-default: var(--colors-grey-60);
    --color-input-inputtext-fill-disabled: var(--colors-grey-80);
    --color-input-inputtext-fill-active: var(--colors-grey-60);
    --color-input-inputtext-fill-typing: var(--colors-grey-13);
    --color-input-inputtext-fill-typed: var(--colors-grey-13);
    --color-input-inputtext-fill-error: var(--colors-grey-13);
    --color-input-inputtext-fill-approved: var(--colors-grey-13);
    --color-input-supporttext-fill-default: var(--colors-grey-40);
    --color-input-supporttext-fill-disabled: var(--colors-grey-80);
    --color-input-supporttext-fill-active: var(--colors-grey-40);
    --color-input-supporttext-fill-typing: var(--colors-grey-40);
    --color-input-supporttext-fill-typed: var(--colors-grey-40);
    --color-icon-fill-primary-enabled: var(--colors-grey-8);
    --color-icon-fill-primary-disabled: #ffffff;
    --color-input-supporttext-fill-error: var(--colors-secondary-red-400);
    --color-input-supporttext-fill-approved: var(--colors-grey-40);
    --color-icon-fill-primary-pressed: #ffffff;
    --color-input-primaryicon-fill-default: var(--colors-grey-13);
    --color-icon-fill-primary-hover: #ffffff;
    --color-input-primaryicon-fill-disabled: var(--colors-grey-80);
    --color-icon-fill-primary-focus: #ffffff;
    --color-input-primaryicon-fill-active: var(--colors-grey-13);
    --color-icon-fill-secondary-enabled: var(--colors-grey-13);
    --color-icon-fill-secondary-disabled: var(--colors-grey-65);
    --color-input-primaryicon-fill-typing: var(--colors-grey-13);
    --color-input-primaryicon-fill-typed: var(--colors-grey-13);
    --color-icon-fill-secondary-pressed: var(--colors-grey-20);
    --color-icon-fill-secondary-hover: var(--colors-grey-20);
    --color-input-primaryicon-fill-error: var(--colors-grey-13);
    --color-icon-fill-secondary-focus: var(--colors-grey-20);
    --color-input-primaryicon-fill-approved: var(--colors-grey-13);
    --color-icon-fill-secondary-selected: var(--colors-grey-8);
    --color-icon-fill-tertiary-enabled: var(--colors-grey-30);
    --color-input-secondaryicon-fill-default: var(--colors-grey-40);
    --color-icon-fill-tertiary-disabled: var(--colors-grey-80);
    --color-input-secondaryicon-fill-disabled: var(--colors-grey-80);
    --color-input-secondaryicon-fill-active: var(--colors-grey-40);
    --color-icon-fill-tertiary-pressed: var(--colors-grey-25);
    --color-input-secondaryicon-fill-typing: var(--colors-grey-40);
    --color-icon-fill-tertiary-hover: var(--colors-grey-25);
    --color-input-secondaryicon-fill-typed: var(--colors-grey-40);
    --color-icon-fill-tertiary-focus: var(--colors-grey-25);
    --color-icon-fill-tertiary-selected: var(--colors-grey-20);
    --color-icon-fill-quaternary-enabled: var(--colors-grey-60);
    --color-input-secondaryicon-fill-error: var(--colors-secondary-red-400);
    --color-input-secondaryicon-fill-approved: var(--colors-primary-green-400);
    --color-icon-fill-quaternary-disabled: var(--colors-grey-80);
    --color-icon-fill-quaternary-pressed: var(--colors-grey-40);
    --color-icon-fill-quaternary-hover: var(--colors-grey-40);
    --color-icon-fill-quaternary-focus: var(--colors-secondary-blue-300);
    --color-icon-fill-quinary-enabled: var(--colors-grey-85);
    --color-icon-fill-quinary-disabled: var(--colors-grey-80);
    --color-icon-fill-quinary-pressed: var(--colors-grey-65);
    --color-icon-fill-quinary-hover: var(--colors-grey-65);
    --color-icon-fill-quinary-focus: var(--colors-secondary-blue-300);
    --color-icon-fill-brand-enabled: var(--colors-primary-green-400);
    --color-icon-fill-brand-disabled: var(--colors-grey-80);
    --color-icon-fill-brand-pressed: var(--colors-primary-green-500);
    --color-icon-fill-brand-hover: var(--colors-primary-green-500);
    --color-icon-fill-brand-focus: var(--colors-primary-green-500);
    --color-icon-fill-brand-selected: var(--colors-primary-green-500);
    --color-icon-fill-inverted-enabled: var(--colors-grey-100);
    --color-icon-fill-inverted-disabled: #ffffff;
    --color-icon-fill-tertiary-editing: var(--colors-grey-30);
    --color-icon-fill-inverted-pressed: #ffffff;
    --color-icon-fill-inverted-hover: #ffffff;
    --color-icon-fill-inverted-focus: #ffffff;
    --color-feedback-base-fill-primary: var(--colors-secondary-blue-100);
    --color-feedback-base-fill-highlights: var(--colors-primary-green-100);
    --color-feedback-base-fill-alert: var(--colors-secondary-red-100);
    --color-feedback-base-fill-upgrade: var(--colors-secondary-orange-100);
    --color-feedback-base-fill-neutral: var(--colors-grey-95);
    --color-icon-fill-brandsecondary-enabled: var(--colors-secondary-blue-400);
    --color-icon-fill-brandsecondary-disabled: var(--colors-grey-80);
    --color-icon-fill-brandsecondary-pressed: #ffffff;
    --color-icon-fill-brandsecondary-hover: var(--colors-secondary-blue-500);
    --color-icon-fill-brandsecondary-focus: var(--colors-secondary-blue-300);
    --color-text-fill-primary-enabled: var(--colors-grey-8);
    --color-text-fill-primary-disabled: var(--colors-grey-80);
    --color-text-fill-primary-pressed: var(--colors-grey-8);
    --color-text-fill-primary-hover: var(--colors-grey-8);
    --color-text-fill-primary-focus: var(--colors-grey-8);
    --color-text-fill-primary-error: var(--colors-secondary-red-400);
    --color-text-fill-primary-code: var(--colors-secondary-red-400);
    --color-text-fill-secondary-enabled: var(--colors-grey-13);
    --color-text-fill-secondary-disabled: var(--colors-grey-65);
    --color-text-fill-secondary-pressed: var(--colors-grey-13);
    --color-text-fill-secondary-hover: var(--colors-grey-8);
    --color-text-fill-secondary-focus: var(--colors-grey-13);
    --color-text-fill-secondary-selected: var(--colors-grey-8);
    --color-text-fill-secondary-error: var(--colors-secondary-red-400);
    --color-text-fill-tertiary-enabled: var(--colors-grey-20);
    --color-text-fill-tertiary-disabled: var(--colors-grey-65);
    --color-text-fill-tertiary-pressed: var(--colors-grey-20);
    --color-text-fill-tertiary-hover: var(--colors-grey-15);
    --color-text-fill-tertiary-focus: var(--colors-grey-20);
    --color-text-fill-tertiary-error: var(--colors-secondary-red-400);
    --color-text-fill-quaternary-enabled: var(--colors-grey-40);
    --color-text-fill-quaternary-disabled: var(--colors-grey-80);
    --color-text-fill-quaternary-pressed: var(--colors-grey-40);
    --color-text-fill-quaternary-hover: var(--colors-grey-30);
    --color-text-fill-quaternary-focus: var(--colors-grey-40);
    --color-text-fill-quaternary-error: var(--colors-secondary-red-400);
    --color-text-fill-quinary-enabled: var(--colors-grey-60);
    --color-text-fill-quinary-disabled: var(--colors-grey-80);
    --color-text-fill-quinary-pressed: var(--colors-grey-60);
    --color-text-fill-quinary-hover: var(--colors-grey-50);
    --color-text-fill-quinary-focus: var(--colors-grey-60);
    --color-text-fill-quinary-error: var(--colors-secondary-red-400);
    --color-text-fill-brand-enabled: var(--colors-primary-green-400);
    --color-text-fill-brand-disabled: var(--colors-grey-80);
    --color-text-fill-brand-pressed: var(--colors-primary-green-500);
    --color-text-fill-brand-hover: var(--colors-primary-green-500);
    --color-text-fill-brand-focus: var(--colors-primary-green-500);
    --color-text-fill-brand-selected: var(--colors-primary-green-500);
    --color-text-fill-brand-error: var(--colors-secondary-red-400);
    --color-text-fill-inverted-enabled: var(--colors-grey-100);
    --color-text-fill-inverted-disabled: #ffffff;
    --color-text-fill-inverted-pressed: #ffffff;
    --color-text-fill-inverted-hover: #ffffff;
    --color-text-fill-inverted-focus: #ffffff;
    --color-text-fill-inverted-error: var(--colors-secondary-red-400);
    --color-text-fill-brandsecondary-enabled: var(--colors-secondary-blue-400);
    --color-text-fill-brandsecondary-disabled: var(--colors-grey-80);
    --color-text-fill-brandsecondary-pressed: #ffffff;
    --color-text-fill-brandsecondary-hover: #ffffff;
    --color-text-fill-brandsecondary-focus: #ffffff;
    --color-text-fill-brandsecondary-error: var(--colors-secondary-red-400);
    --color-card-base-fill-enabled: var(--colors-grey-100);
    --color-card-base-fill-hover: var(--colors-grey-97);
    --color-card-base-fill-selected: var(--colors-grey-100);
    --color-card-base-fill-editing: var(--colors-grey-100);
    --color-card-base-fill-loading: var(--colors-grey-100);
    --color-action-base-stroke-warning-focus: var(--colors-secondary-blue-300);
    --color-action-base-stroke-upgrade-focus: var(--colors-secondary-blue-300);
    --color-action-content-fill-secondary-default: var(--colors-grey-40);
    --color-action-content-fill-secondary-disabled: var(--colors-grey-80);
    --color-action-content-fill-secondary-hover: var(--colors-grey-25);
    --color-action-content-fill-secondary-focus: var(--colors-grey-25);
    --color-action-content-fill-secondary-pressed: var(--colors-grey-25);
    --color-action-content-fill-tertiary-default: var(--colors-grey-40);
    --color-action-content-fill-tertiary-disabled: var(--colors-grey-80);
    --color-action-content-fill-tertiary-hover: var(--colors-grey-25);
    --color-action-content-fill-tertiary-focus: var(--colors-grey-25);
    --color-action-content-fill-tertiary-pressed: var(--colors-grey-25);
    --color-action-content-fill-warning-default: var(--colors-grey-100);
    --color-action-content-fill-warning-disabled: var(--colors-grey-100);
    --color-action-content-fill-warning-hover: var(--colors-grey-100);
    --color-action-content-fill-warning-focus: var(--colors-grey-100);
    --color-action-content-fill-warning-pressed: var(--colors-grey-100);
    --color-action-content-fill-upgrade-enabled: var(--colors-grey-8);
    --color-action-content-fill-upgrade-disabled: var(--colors-grey-8);
    --color-action-content-fill-upgrade-hover: var(--colors-grey-8);
    --color-action-content-fill-upgrade-focus: var(--colors-grey-8);
    --color-action-content-fill-upgrade-pressed: var(--colors-grey-100);
    --color-border-stroke-primary-enabled: var(--colors-grey-8);
    --color-border-stroke-primary-disabled: #ffffff;
    --color-border-stroke-primary-pressed: #ffffff;
    --color-border-stroke-primary-hover: #ffffff;
    --color-border-stroke-primary-focus: var(--colors-secondary-blue-300);
    --color-border-stroke-secondary-enabled: var(--colors-grey-13);
    --color-border-stroke-secondary-disabled: var(--colors-grey-65);
    --color-border-stroke-secondary-pressed: #ffffff;
    --color-border-stroke-secondary-hover: #ffffff;
    --color-border-stroke-secondary-focus: var(--colors-secondary-blue-300);
    --color-border-stroke-tertiary-enabled: var(--colors-grey-20);
    --color-border-stroke-tertiary-disabled: #ffffff;
    --color-border-stroke-tertiary-pressed: #ffffff;
    --color-border-stroke-tertiary-hover: #ffffff;
    --color-border-stroke-tertiary-focus: var(--colors-secondary-blue-300);
    --color-border-stroke-quaternary-enabled: var(--colors-grey-40);
    --color-border-stroke-quaternary-disabled: var(--colors-grey-80);
    --color-border-stroke-quaternary-pressed: var(--colors-grey-25);
    --color-border-stroke-quaternary-hover: var(--colors-grey-25);
    --color-border-stroke-quaternary-focus: var(--colors-secondary-blue-300);
    --color-border-stroke-quinary-enabled: var(--colors-grey-60);
    --color-border-stroke-quinary-disabled: #ffffff;
    --color-border-stroke-quinary-pressed: #ffffff;
    --color-border-stroke-quinary-hover: #ffffff;
    --color-border-stroke-quinary-focus: var(--colors-secondary-blue-300);
    --color-icon-fill-tertiary-error: var(--colors-secondary-red-400);
    --color-action-content-fill-brand-enabled: var(--colors-primary-green-400);
    --color-action-content-fill-brand-disabled: var(--colors-grey-80);
    --color-action-content-fill-brand-hover: var(--colors-primary-green-500);
    --color-action-content-fill-brand-focus: var(--colors-primary-green-500);
    --color-action-content-fill-brand-pressed: var(--colors-primary-green-500);
    --color-action-content-fill-secondarybrand-enabled: var( --colors-secondary-blue-400 );
    --color-action-content-fill-purple-default: var(--colors-secondary-purple-400);
    --color-action-content-fill-spritz-default: var(--colors-secondary-spritz-400);
    --color-action-content-fill-spritz-disabled: var(--colors-grey-80);
    --color-action-content-fill-spritz-hover: var(--colors-secondary-spritz-500);
    --color-action-content-fill-spritz-focus: var(--colors-secondary-spritz-500);
    --color-action-content-fill-spritz-pressed: var(--colors-secondary-spritz-600);
    --color-action-content-fill-purple-disabled: var(--colors-grey-80);
    --color-action-content-fill-purple-hover: var(--colors-secondary-purple-500);
    --color-action-content-fill-purple-focus: var(--colors-secondary-purple-500);
    --color-action-content-fill-purple-pressed: var(--colors-secondary-purple-600);
    --color-action-content-fill-secondarybrand-disabled: var(--colors-grey-80);
    --color-action-content-fill-secondarybrand-hover: var( --colors-secondary-blue-500 );
    --color-action-content-fill-secondarybrand-focus: var( --colors-secondary-blue-500 );
    --color-action-content-fill-secondarybrand-pressed: var( --colors-secondary-blue-500 );
    --color-border-stroke-brand-enabled: var(--colors-primary-green-400);
    --color-border-stroke-brand-disabled: #ffffff;
    --color-border-stroke-brand-pressed: #ffffff;
    --color-filterpill-base-fill-default: var(--colors-grey-90);
    --color-filterpill-base-fill-defaulthover: var(--colors-grey-85);
    --color-filterpill-base-fill-active: var(--colors-secondary-blue-400);
    --color-border-stroke-brand-hover: #ffffff;
    --color-filterpill-base-fill-activehover: var(--colors-secondary-blue-500);
    --color-border-stroke-brand-focus: var(--colors-secondary-blue-300);
    --color-filterpill-base-fill-suggested: var(--colors-grey-93);
    --color-filterpill-base-fill-suggestedhover: var(--colors-grey-90);
    --color-border-stroke-brandsecondary-enabled: var(--colors-secondary-blue-400);
    --color-filterpill-base-fill-error: var(--colors-secondary-red-400);
    --color-filterpill-base-fill-errorhover: var(--colors-secondary-red-500);
    --color-border-stroke-brandsecondary-disabled: var(--colors-grey-80);
    --color-filterpill-base-fill-task: var(--colors-secondary-purple-100);
    --color-filterpill-base-fill-taskhover: var(--colors-secondary-purple-200);
    --color-filterpill-base-fill-reminder: var(--colors-secondary-blue-100);
    --color-filterpill-base-fill-reminderhover: var(--colors-secondary-blue-200);
    --color-filterpill-base-fill-pinned: var(--colors-secondary-orange-100);
    --color-filterpill-base-fill-pinnedhover: var(--colors-secondary-orange-200);
    --color-filterpill-base-stroke-suggested: var(--colors-grey-80);
    --color-border-stroke-brandsecondary-pressed: var(--colors-secondary-blue-500);
    --color-filterpill-base-stroke-selected: var(--colors-secondary-blue-300);
    --color-border-stroke-brandsecondary-hover: var(--colors-secondary-blue-500);
    --color-filterpill-icons-fill-default: var(--colors-grey-60);
    --color-border-stroke-brandsecondary-focus: var(--colors-secondary-blue-300);
    --color-border-stroke-purple-enabled: var(--colors-secondary-purple-400);
    --color-border-stroke-purple-disabled: var(--colors-grey-80);
    --color-border-stroke-purple-pressed: var(--colors-secondary-purple-500);
    --color-border-stroke-purple-hover: var(--colors-secondary-purple-500);
    --color-border-stroke-purple-focus: var(--colors-secondary-purple-300);
    --color-filterpill-icons-fill-defaulthover: var(--colors-grey-40);
    --color-border-stroke-inverted-enabled: var(--colors-grey-100);
    --color-border-stroke-inverted-disabled: #ffffff;
    --color-filterpill-icons-fill-active: var(--colors-grey-100);
    --color-border-stroke-inverted-pressed: #ffffff;
    --color-filterpill-icons-fill-activehover: var(--colors-grey-100);
    --color-border-stroke-inverted-hover: #ffffff;
    --color-filterpill-icons-fill-suggested: var(--colors-grey-60);
    --color-border-stroke-inverted-focus: var(--colors-secondary-blue-300);
    --color-filterpill-icons-fill-error: var(--colors-grey-100);
    --color-filterpill-closeicon-fill-default: var(--colors-grey-60);
    --color-filterpill-closeicon-fill-defaulthover: var(--colors-grey-40);
    --color-filterpill-closeicon-fill-active: var(--colors-secondary-blue-600);
    --color-filterpill-closeicon-fill-activehover: var(--colors-secondary-blue-700);
    --color-filterpill-closeicon-fill-suggested: var(--colors-grey-60);
    --color-filterpill-closeicon-fill-suggestedhover: var( --colors-secondary-blue-400 );
    --color-filterpill-closeicon-fill-error: var(--colors-secondary-red-500);
    --color-filterpill-closeicon-fill-errorhover: var(--colors-secondary-red-600);
    --color-icon-fill-purple-enabled: var(--colors-secondary-purple-400);
    --color-icon-fill-purple-disabled: var(--colors-grey-80);
    --color-icon-fill-purple-pressed: #ffffff;
    --color-icon-fill-purple-hover: var(--colors-secondary-purple-500);
    --color-icon-fill-purple-focus: #ffffff;
    --color-icon-fill-yellow-enabled: var(--colors-secondary-yellow-400);
    --color-icon-fill-yellow-disabled: var(--colors-grey-80);
    --color-icon-fill-yellow-pressed: #ffffff;
    --color-icon-fill-yellow-hover: var(--colors-secondary-yellow-500);
    --color-icon-fill-yellow-focus: #ffffff;
    --color-icon-fill-orange-enabled: var(--colors-secondary-orange-400);
    --color-icon-fill-orange-disabled: var(--colors-grey-80);
    --color-icon-fill-orange-pressed: #ffffff;
    --color-icon-fill-orange-hover: var(--colors-secondary-orange-500);
    --color-icon-fill-orange-focus: #ffffff;
    --color-card-base-stroke-enabled: var(--colors-grey-85);
    --color-card-base-stroke-hover: var(--colors-grey-90);
    --color-card-base-stroke-selected: var(--colors-secondary-blue-300);
    --color-card-base-stroke-editing: var(--colors-grey-80);
    --color-card-base-stroke-loading: var(--colors-grey-85);
    --color-snippet-base-fill-enabled: var(--colors-grey-97);
    --color-snippet-base-fill-hover: var(--colors-grey-100);
    --color-snippet-base-fill-selected: var(--colors-grey-100);
    --color-snippet-base-fill-editing: var(--colors-grey-100);
    --color-snippet-base-fill-loading: var(--colors-grey-97);
    --color-snippet-base-stroke-enabled: var(--colors-grey-90);
    --color-snippet-base-stroke-hover: var(--colors-grey-90);
    --color-snippet-base-stroke-selected: var(--colors-secondary-blue-300);
    --color-snippet-base-stroke-editing: var(--colors-grey-85);
    --color-snippet-base-stroke-loading: var(--colors-grey-90);
    --color-notelist-base-fill-enabled: var(--colors-grey-97);
    --color-notelist-base-fill-hover: var(--colors-grey-100);
    --color-notelist-base-fill-pressed: var(--colors-grey-100);
    --color-notelist-base-fill-selected: var(--colors-grey-100);
    --color-notelist-base-fill-editing: var(--colors-grey-97);
    --color-notelist-base-fill-loading: var(--colors-grey-97);
    --color-notelist-base-stroke-enabled: var(--colors-grey-85);
    --color-notelist-base-stroke-hover: var(--colors-grey-80);
    --color-notelist-base-stroke-pressed: var(--colors-grey-85);
    --color-notelist-base-stroke-selected: var(--colors-secondary-blue-300);
    --color-notelist-base-stroke-editing: var(--colors-grey-70);
    --color-notelist-base-stroke-loading: var(--colors-grey-93);
    --color-notelist-base-stroke-disabled: var(--colors-grey-85);
    --color-icon-fill-spritz-enabled: var(--colors-secondary-spritz-400);
    --color-icon-fill-spritz-disabled: var(--colors-grey-80);
    --color-icon-fill-spritz-pressed: #ffffff;
    --color-icon-fill-spritz-hover: var(--colors-secondary-spritz-500);
    --color-icon-fill-spritz-focus: #ffffff;
    --color-icon-fill-red-enabled: var(--colors-secondary-red-400);
    --color-icon-fill-red-disabled: var(--colors-grey-80);
    --color-icon-fill-red-pressed: #ffffff;
    --color-icon-fill-red-hover: var(--colors-secondary-red-500);
    --color-icon-fill-red-focus: #ffffff;
    --color-action-base-fill-purple-default: var(--colors-secondary-purple-400);
    --color-action-base-fill-spritz-default: var(--colors-secondary-spritz-400);
    --color-action-base-fill-spritz-disabled: var(--colors-grey-80);
    --color-action-base-fill-spritz-hover: var(--colors-secondary-spritz-500);
    --color-action-base-fill-spritz-focus: var(--colors-secondary-spritz-500);
    --color-action-base-fill-spritz-pressed: var(--colors-secondary-spritz-600);
    --color-action-base-fill-purple-disabled: var(--colors-grey-80);
    --color-action-base-fill-purple-hover: var(--colors-secondary-purple-500);
    --color-action-base-fill-purple-focus: var(--colors-secondary-purple-500);
    --color-action-base-fill-purple-pressed: var(--colors-secondary-purple-600);
    --color-text-fill-purple-enabled: var(--colors-secondary-purple-400);
    --color-text-fill-purple-disabled: #ffffff;
    --color-text-fill-purple-pressed: #ffffff;
    --color-text-fill-purple-hover: var(--colors-secondary-purple-500);
    --color-text-fill-purple-focus: #ffffff;
    --color-text-fill-purple-error: var(--colors-secondary-red-400);
    --color-text-fill-upgrade-enabled: var(--colors-secondary-orange-400);
    --color-text-fill-upgrade-disabled: #ffffff;
    --color-text-fill-upgrade-pressed: #ffffff;
    --color-text-fill-upgrade-hover: var(--colors-secondary-orange-500);
    --color-text-fill-upgrade-focus: #ffffff;
    --color-text-fill-upgrade-error: var(--colors-secondary-red-400);
    --color-action-base-fill-editor-default: var(--colors-grey-100);
    --color-action-base-fill-editor-disabled: var(--colors-grey-100);
    --color-action-base-fill-editor-hover: var(--colors-grey-95);
    --color-action-base-fill-editor-focus: var(--colors-grey-95);
    --color-action-base-fill-editor-pressed: var(--colors-grey-90);
    --color-action-base-fill-editor-hoveronpressed: var(--colors-grey-95);
    --color-action-base-stroke-editor-focus: var(--colors-secondary-blue-300);
    --color-action-base-stroke-tasks-default: var(--colors-secondary-purple-200);
    --color-action-base-stroke-tasks-disabled: var(--colors-grey-80);
    --color-action-base-stroke-tasks-hover: var(--colors-secondary-purple-300);
    --color-action-base-stroke-tasks-focus: var(--colors-secondary-purple-300);
    --color-action-base-stroke-tasks-pressed: var(--colors-secondary-purple-300);
    --color-scratchpad-base-fill-orange: var(--colors-secondary-yellow-opacity20);
    --color-scratchpad-base-fill-blue: var(--colors-secondary-blue-opacity20);
    --color-scratchpad-base-fill-green: var(--colors-primary-green-opacity20);
    --color-scratchpad-base-fill-red: var(--colors-secondary-red-opacity20);
    --color-surface-fill-secondarybrand-enabled: var(--colors-secondary-blue-400);
    --color-surface-fill-secondarybrand-disabled: #ffffff;
    --color-surface-fill-secondarybrand-hover: #ffffff;
    --color-surface-fill-secondarybrand-focus: #ffffff;
    --color-surface-fill-secondarybrand-pressed: #ffffff;
    --color-surface-fill-secondarybrand-selected: #ffffff;
    --color-feedback-content-fill-primary: var(--colors-secondary-blue-500);
    --color-feedback-base-stroke-primary: var(--colors-secondary-blue-500);
    --color-feedback-base-stroke-highlights: var(--colors-primary-green-500);
    --color-feedback-content-fill-highlights: var(--colors-primary-green-500);
    --color-feedback-base-stroke-alert: var(--colors-secondary-red-500);
    --color-feedback-content-fill-alert: var(--colors-secondary-red-500);
    --color-feedback-base-stroke-upgrade: var(--colors-secondary-orange-500);
    --color-feedback-content-fill-upgrade: var(--colors-grey-15);
    --color-feedback-base-stroke-neutral: var(--colors-grey-15);
    --color-feedback-content-fill-neutral: var(--colors-grey-15);
    --color-surface-fill-inverted-enabled: var(--colors-grey-25);
    --color-surface-fill-inverted-disabled: #ffffff;
    --color-surface-fill-inverted-hover: #ffffff;
    --color-surface-fill-inverted-focus: #ffffff;
    --color-surface-fill-inverted-pressed: #ffffff;
    --color-surface-fill-inverted-selected: #ffffff;
    --color-action-base-fill-opacity-default: var(--colors-grey-opacitywhite65);
    --color-scratchpad-base-stroke-orange: var(--colors-secondary-orange-200);
    --color-scratchpad-base-stroke-blue: var(--colors-secondary-blue-200);
    --color-scratchpad-base-stroke-green: var(--colors-primary-green-200);
    --color-scratchpad-base-stroke-red: var(--colors-secondary-red-200);
    --color-illustrations-fill-green-enabled: var(--colors-primary-green-400);
    --color-illustrations-fill-darkgreen-enabled: var(--colors-primary-green-600);
    --color-illustrations-fill-indigo-enabled: var(--colors-brandonly-indigo-400);
    --color-illustrations-fill-vermillion-enabled: var( --colors-brandonly-vermillion-400 );
    --color-illustrations-fill-yellow-enabled: var(--colors-secondary-yellow-400);
    --color-illustrations-fill-pink-enabled: var(--colors-brandonly-pink-400);
    --color-illustrations-fill-lime-enabled: var(--colors-brandonly-lime-400);
    --color-illustrations-fill-purple-enabled: var(--colors-secondary-purple-200);
    --color-illustrations-fill-black-enabled: var(--colors-grey-13);
    --color-surface-fill-eggshell-enabled: var(--colors-brandonly-eggshell-100);
    --color-surface-fill-eggshell-disabled: #ffffff;
    --color-surface-fill-eggshell-hover: #ffffff;
    --color-surface-fill-eggshell-focus: #ffffff;
    --color-surface-fill-eggshell-pressed: #ffffff;
    --color-surface-fill-eggshell-selected: #ffffff;
    --color-modal-base-fill-enabled: var(--colors-grey-100);
    --color-modal-base-stroke-enabled: var(--colors-grey-100);
    --color-modal-base-stroke-selected: var(--colors-secondary-blue-300);
    --color-action-base-fill-tasks-default: var(--colors-secondary-purple-100);
    --color-action-base-fill-tasks-disabled: var(--colors-grey-80);
    --color-action-base-fill-tasks-hover: var(--colors-secondary-purple-200);
    --color-action-base-fill-tasks-focus: var(--colors-secondary-purple-200);
    --color-action-base-fill-tasks-pressed: var(--colors-secondary-purple-200);
    --color-action-base-fill-events-default: var(--colors-secondary-spritz-100);
    --color-action-base-fill-events-disabled: var(--colors-grey-80);
    --color-action-base-fill-events-hover: var(--colors-secondary-spritz-200);
    --color-action-base-fill-events-focus: var(--colors-secondary-spritz-200);
    --color-action-base-fill-events-pressed: var(--colors-secondary-spritz-200);
    --color-action-base-stroke-events-default: var(--colors-secondary-spritz-200);
    --color-action-base-stroke-events-disabled: var(--colors-grey-80);
    --color-action-base-stroke-events-hover: var(--colors-secondary-spritz-300);
    --color-action-base-stroke-events-focus: var(--colors-secondary-spritz-300);
    --color-action-base-stroke-events-pressed: var(--colors-secondary-spritz-300);
    --color-text-fill-red-enabled: var(--colors-secondary-red-400);
    --color-text-fill-red-disabled: #ffffff;
    --color-text-fill-red-pressed: #ffffff;
    --color-text-fill-red-hover: var(--colors-secondary-red-500);
    --color-text-fill-red-focus: #ffffff;
    --color-tooltip-base-fill-primary-default: var(--colors-grey-8);
    --color-tooltip-content-fill-primary-default: #ffffff;
    --color-tooltip-content-fill-secondary-default: var(--colors-grey-65);
    --color-nested-section-highlight-box-background: var( --colors-secondary-blue-opacity5 );
    --color-drop-cursor-background: var(--colors-secondary-blue-400);
    --color-drag-and-drop-placeholder-lines-background: var( --colors-secondary-blue-400 );
    --color-drag-and-drop-placeholder-border: var(--colors-secondary-blue-400);
    --color-selected-node-outline-color: var(--colors-secondary-blue-opacity50);
    --font-inter: "Inter","Inter Fallback";
    font-family: Figtree,Figtree Fallback;
    font-style: normal;
    --font-figtree: "Figtree","Figtree Fallback";
    -webkit-font-smoothing: antialiased;